In [2]:
# -*- coding: utf-8 -*-
"""
Created on Thu Oct 17 17:02:37 2019

@author: jboyce
"""

import pandas as pd
import pyodbc
import time

In [3]:
#SQL settings, queries and df import

#clock starts to time how long the df import takes
start_tm = time.clock()

#set file location of sql query we want to import
sql_filename ='CRT_Bids Cumulative Tab_20191010.sql'
sql_path = r'M:\Capital Markets\Users\Johnathan Boyce\Misc\Programming\SQL'
sql_fileandpath = sql_path+"\\"+sql_filename


#connection configuration settings; connection == the connection to your database
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER={w12pcgsql1};DATABASE=pricing_archive;UID=jboyce;Trusted_Connection=yes')

# define the opening of the filename and path of the sql file
query = open(sql_fileandpath)

#Read the sql file
df = pd.read_sql_query(query.read(),sql_conn)
sql_conn.close()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

In [4]:
#print out the run time, df shape, and df first five rows
print("\n")
print("Import Time (Using Time): " +str(time.clock()-start_tm))
print("Import Time (Using process_time): " +str(time.process_time()))
print("Import Time  (Using perf_counter): " +str(time.perf_counter()))
print("\n")
print("Top 5 rows\n" + str(df.head()) +"\n")
print("\n Number of rows: {}, Number of columns: {}".format(df.shape[0], df.shape[1]))


#analyze the df; create a scrub version of the df
df_scrub = df
print("\n Top 5 Rows for df_scrub \n" + str(df_scrub.head()) + "\n")

Import Time (Using Time): 45.46690269999817
Import Time (Using process_time): 19.125
Import Time  (Using perf_counter): 19987.497536


Top 5 rows
      BidDate  loannumber ClientCRTFlag PropertyTypeRM  noteamount  \
0  2019-08-06  1907909473           Yes            PUD    197400.0
1  2019-08-06  1906906552           Yes            PUD    279000.0
2  2019-08-06  1905906298           Yes            PUD    176000.0
3  2019-08-06  1903903874           Yes            PUD    432040.0
4  2019-08-06  1906908827           Yes            SFR    489000.0

  projectlegalstructuretypename  pudindicator  LtvRatioPercent  \
0                          None          True           47.452
1                          None          True           50.270
2                          None          True           50.000
3                          None          True           80.000
4                          None         False           49.444

   CltvRatioPercent  LoanLevelCreditScoreValue  ...  Trailing 7 Days  Today  \
0            47.452                      783.0  ...             None  FALSE
1            50.270                      786.0  ...             None  FALSE
2            50.000                      798.0  ...             None  FALSE
3            80.000                      709.0  ...             None  FALSE
4            49.444                      777.0  ...             None  FALSE

  TrueBidVolume  TR_7Dy_BidVolume TR_7Dy_WonAmount TR_30Dy_BidVolume  \
0      197400.0               NaN              NaN               NaN
1      279000.0               NaN              NaN               NaN
2      176000.0               NaN              NaN               NaN
3      432040.0               NaN              NaN               NaN
4      489000.0               NaN              NaN               NaN

  TR_30Dy_WonAmount LoanPurposeTypeName RefinanceCashoutDeterminationTypeName  \
0               NaN           Refinance                             NoCashOut
1               NaN           Refinance                             NoCashOut
2               NaN            Purchase                             NoCashOut
3               NaN            Purchase                             NoCashOut
4               NaN            Purchase                             NoCashOut

  Last10
0  FALSE
1  FALSE
2  FALSE
3  FALSE
4  FALSE

[5 rows x 47 columns]


 Number of rows: 306958, Number of columns: 47

 Top 5 Rows for df_scrub
      BidDate  loannumber ClientCRTFlag PropertyTypeRM  noteamount  \
0  2019-08-06  1907909473           Yes            PUD    197400.0
1  2019-08-06  1906906552           Yes            PUD    279000.0
2  2019-08-06  1905906298           Yes            PUD    176000.0
3  2019-08-06  1903903874           Yes            PUD    432040.0
4  2019-08-06  1906908827           Yes            SFR    489000.0

  projectlegalstructuretypename  pudindicator  LtvRatioPercent  \
0                          None          True           47.452
1                          None          True           50.270
2                          None          True           50.000
3                          None          True           80.000
4                          None         False           49.444

   CltvRatioPercent  LoanLevelCreditScoreValue  ...  Trailing 7 Days  Today  \
0            47.452                      783.0  ...             None  FALSE
1            50.270                      786.0  ...             None  FALSE
2            50.000                      798.0  ...             None  FALSE
3            80.000                      709.0  ...             None  FALSE
4            49.444                      777.0  ...             None  FALSE

  TrueBidVolume  TR_7Dy_BidVolume TR_7Dy_WonAmount TR_30Dy_BidVolume  \
0      197400.0               NaN              NaN               NaN
1      279000.0               NaN              NaN               NaN
2      176000.0               NaN              NaN               NaN
3      432040.0               NaN              NaN               NaN
4      489000.0               NaN              NaN               NaN

  TR_30Dy_WonAmount LoanPurposeTypeName RefinanceCashoutDeterminationTypeName  \
0               NaN           Refinance                             NoCashOut
1               NaN           Refinance                             NoCashOut
2               NaN            Purchase                             NoCashOut
3               NaN            Purchase                             NoCashOut
4               NaN            Purchase                             NoCashOut

  Last10
0  FALSE
1  FALSE
2  FALSE
3  FALSE
4  FALSE

[5 rows x 47 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
#check for number of nulls for each column
print("Total Count of Null Records \n" + str(df_scrub.isna().count()) + "\n")

Total Count of Null Records
BidDate                                  306958
loannumber                               306958
ClientCRTFlag                            306958
PropertyTypeRM                           306958
noteamount                               306958
projectlegalstructuretypename            306958
pudindicator                             306958
LtvRatioPercent                          306958
CltvRatioPercent                         306958
LoanLevelCreditScoreValue                306958
FinancedUnitCount                        306958
PropertyStateName                        306958
PropertyPostalCode                       306958
ClientId                                 306958
BidMonth                                 306958
BidWeek                                  306958
ClientName                               306958
MortgageTypeName                         306958
MtgIssuerTyp                             306958
CouponRt                                 306958
PricingCoupon                            306958
PricingPocPayup                          306958
NoteRate                                 306958
NoteRate_RND                             306958
BidVolume                                306958
BidVolumeAll                             306958
PricingLoanProgramName                   306958
FICO                                     306958
State                                    306958
LoanPurpose                              306958
WonAmount                                306958
Won_Bid                                  306958
ServicingStrip                           306958
CRTFlag                                  306958
NewCRTFLag                               306958
HB_Flag                                  306958
Trailing 30 Days                         306958
Trailing 7 Days                          306958
Today                                    306958
TrueBidVolume                            306958
TR_7Dy_BidVolume                         306958
TR_7Dy_WonAmount                         306958
TR_30Dy_BidVolume                        306958
TR_30Dy_WonAmount                        306958
LoanPurposeTypeName                      306958
RefinanceCashoutDeterminationTypeName    306958
Last10                                   306958
dtype: int64

In [6]:
#check the proportion of records that are missing
print("\n Total Percentage of Null Records \n" + str(df_scrub.isna().mean()) + "\n") #need to fix this to count or % of total using count or upb

 Total Percentage of Null Records
BidDate                                  0.000000
loannumber                               0.000000
ClientCRTFlag                            0.000000
PropertyTypeRM                           0.000000
noteamount                               0.000000
projectlegalstructuretypename            0.915989
pudindicator                             0.000000
LtvRatioPercent                          0.000000
CltvRatioPercent                         0.000000
LoanLevelCreditScoreValue                0.000000
FinancedUnitCount                        0.000000
PropertyStateName                        0.000000
PropertyPostalCode                       0.000453
ClientId                                 0.000000
BidMonth                                 0.000000
BidWeek                                  0.000000
ClientName                               0.000000
MortgageTypeName                         0.000000
MtgIssuerTyp                             0.000000
CouponRt                                 0.000000
PricingCoupon                            0.000000
PricingPocPayup                          0.000000
NoteRate                                 0.000000
NoteRate_RND                             0.000000
BidVolume                                0.984467
BidVolumeAll                             0.000000
PricingLoanProgramName                   0.000000
FICO                                     0.000000
State                                    0.000000
LoanPurpose                              0.000000
WonAmount                                0.984467
Won_Bid                                  0.000000
ServicingStrip                           0.000000
CRTFlag                                  0.000000
NewCRTFLag                               0.000000
HB_Flag                                  0.000000
Trailing 30 Days                         0.569365
Trailing 7 Days                          0.892493
Today                                    0.000000
TrueBidVolume                            0.000000
TR_7Dy_BidVolume                         0.908027
TR_7Dy_WonAmount                         0.908027
TR_30Dy_BidVolume                        0.584898
TR_30Dy_WonAmount                        0.584898
LoanPurposeTypeName                      0.000000
RefinanceCashoutDeterminationTypeName    0.000000
Last10                                   0.000000
dtype: float64

In [7]:
#df datatype summary
df_scrub.info()

#add categorical and non-categorical dfs
#df_scrub_cat=df_scrub[df_scrub[]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306958 entries, 0 to 306957
Data columns (total 47 columns):
BidDate                                  306958 non-null object
loannumber                               306958 non-null object
ClientCRTFlag                            306958 non-null object
PropertyTypeRM                           306958 non-null object
noteamount                               306958 non-null float64
projectlegalstructuretypename            25788 non-null object
pudindicator                             306958 non-null bool
LtvRatioPercent                          306958 non-null float64
CltvRatioPercent                         306958 non-null float64
LoanLevelCreditScoreValue                306958 non-null float64
FinancedUnitCount                        306958 non-null int64
PropertyStateName                        306958 non-null object
PropertyPostalCode                       306819 non-null object
ClientId                                 306958 non-null int64
BidMonth                                 306958 non-null object
BidWeek                                  306958 non-null object
ClientName                               306958 non-null object
MortgageTypeName                         306958 non-null object
MtgIssuerTyp                             306958 non-null object
CouponRt                                 306958 non-null object
PricingCoupon                            306958 non-null float64
PricingPocPayup                          306958 non-null float64
NoteRate                                 306958 non-null float64
NoteRate_RND                             306958 non-null float64
BidVolume                                4768 non-null float64
BidVolumeAll                             306958 non-null float64
PricingLoanProgramName                   306958 non-null object
FICO                                     306958 non-null float64
State                                    306958 non-null object
LoanPurpose                              306958 non-null object
WonAmount                                4768 non-null float64
Won_Bid                                  306958 non-null object
ServicingStrip                           306958 non-null float64
CRTFlag                                  306958 non-null object
NewCRTFLag                               306958 non-null object
HB_Flag                                  306958 non-null object
Trailing 30 Days                         132187 non-null object
Trailing 7 Days                          33000 non-null object
Today                                    306958 non-null object
TrueBidVolume                            306958 non-null float64
TR_7Dy_BidVolume                         28232 non-null float64
TR_7Dy_WonAmount                         28232 non-null float64
TR_30Dy_BidVolume                        127419 non-null float64
TR_30Dy_WonAmount                        127419 non-null float64
LoanPurposeTypeName                      306958 non-null object
RefinanceCashoutDeterminationTypeName    306958 non-null object
Last10                                   306958 non-null object
dtypes: bool(1), float64(18), int64(2), object(26)
memory usage: 108.0+ MB

In [8]:
#convert to datetime and confirm converted field
df_scrub['BidDate'] = pd.to_datetime(df_scrub['BidDate'])
df_scrub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306958 entries, 0 to 306957
Data columns (total 47 columns):
BidDate                                  306958 non-null datetime64[ns]
loannumber                               306958 non-null object
ClientCRTFlag                            306958 non-null object
PropertyTypeRM                           306958 non-null object
noteamount                               306958 non-null float64
projectlegalstructuretypename            25788 non-null object
pudindicator                             306958 non-null bool
LtvRatioPercent                          306958 non-null float64
CltvRatioPercent                         306958 non-null float64
LoanLevelCreditScoreValue                306958 non-null float64
FinancedUnitCount                        306958 non-null int64
PropertyStateName                        306958 non-null object
PropertyPostalCode                       306819 non-null object
ClientId                                 306958 non-null int64
BidMonth                                 306958 non-null object
BidWeek                                  306958 non-null object
ClientName                               306958 non-null object
MortgageTypeName                         306958 non-null object
MtgIssuerTyp                             306958 non-null object
CouponRt                                 306958 non-null object
PricingCoupon                            306958 non-null float64
PricingPocPayup                          306958 non-null float64
NoteRate                                 306958 non-null float64
NoteRate_RND                             306958 non-null float64
BidVolume                                4768 non-null float64
BidVolumeAll                             306958 non-null float64
PricingLoanProgramName                   306958 non-null object
FICO                                     306958 non-null float64
State                                    306958 non-null object
LoanPurpose                              306958 non-null object
WonAmount                                4768 non-null float64
Won_Bid                                  306958 non-null object
ServicingStrip                           306958 non-null float64
CRTFlag                                  306958 non-null object
NewCRTFLag                               306958 non-null object
HB_Flag                                  306958 non-null object
Trailing 30 Days                         132187 non-null object
Trailing 7 Days                          33000 non-null object
Today                                    306958 non-null object
TrueBidVolume                            306958 non-null float64
TR_7Dy_BidVolume                         28232 non-null float64
TR_7Dy_WonAmount                         28232 non-null float64
TR_30Dy_BidVolume                        127419 non-null float64
TR_30Dy_WonAmount                        127419 non-null float64
LoanPurposeTypeName                      306958 non-null object
RefinanceCashoutDeterminationTypeName    306958 non-null object
Last10                                   306958 non-null object
dtypes: bool(1), datetime64[ns](1), float64(18), int64(2), object(25)
memory usage: 108.0+ MB

In [9]:
#create list of features/columns to drop
drop_list=['loannumber',
           'projectlegalstructuretypename',
           'pudindicator',
           'MortgageTypeName',
           'MtgIssuerTyp',
           'CouponRt',
           'BidVolume',
           'PricingLoanProgramName',
           'WonAmount',
           'ServicingStrip',
           'Trailing 30 Days',
           'Trailing 7 Days',
           'Today',
           'TR_7Dy_BidVolume',
           'TR_7Dy_WonAmount',
           'TR_30Dy_BidVolume',
           'TR_30Dy_WonAmount',
           'Last10',
           'CRTFlag',
           'ClientCRTFlag',
           'ClientId',
           'ClientName',
           'BidDate',
           'BidMonth',
           'BidWeek',
           'PropertyStateName'] #just added removal of CRTFlag and ClientID

In [10]:
#drop features / columns not needed
df_scrub_drpd = df_scrub.drop(drop_list, axis=1)
df_scrub_drpd.head()

,PropertyTypeRM,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PropertyPostalCode,PricingCoupon,PricingPocPayup,NoteRate,...,BidVolumeAll,FICO,State,LoanPurpose,Won_Bid,NewCRTFLag,HB_Flag,TrueBidVolume,LoanPurposeTypeName,RefinanceCashoutDeterminationTypeName
0,PUD,197400.0,47.452,47.452,783.0,1,89131,3.625,0.0,3.875,...,197400.0,783.0,NV,PrimaryResidence,FALSE,No,N,197400.0,Refinance,NoCashOut
1,PUD,279000.0,50.270,50.270,786.0,1,89052,3.500,0.0,4.500,...,279000.0,786.0,NV,PrimaryResidence,TRUE,No,N,279000.0,Refinance,NoCashOut
2,PUD,176000.0,50.000,50.000,798.0,1,89148,4.000,0.0,4.875,...,176000.0,798.0,NV,Investment,FALSE,No,N,176000.0,Purchase,NoCashOut
3,PUD,432040.0,80.000,80.000,709.0,1,89139,4.000,0.0,4.875,...,432040.0,709.0,NV,PrimaryResidence,FALSE,Yes,N,432040.0,Purchase,NoCashOut
4,SFR,489000.0,49.444,49.444,777.0,1,81637,3.000,0.0,4.125,...,489000.0,777.0,CO,PrimaryResidence,FALSE,No,Y,489000.0,Purchase,NoCashOut

In [11]:
df_scrub_drpd.shape

(306958, 21)

In [12]:
df_scrub_drpd.columns

Index(['PropertyTypeRM', 'noteamount', 'LtvRatioPercent', 'CltvRatioPercent',
       'LoanLevelCreditScoreValue', 'FinancedUnitCount', 'PropertyPostalCode',
       'PricingCoupon', 'PricingPocPayup', 'NoteRate', 'NoteRate_RND',
       'BidVolumeAll', 'FICO', 'State', 'LoanPurpose', 'Won_Bid', 'NewCRTFLag',
       'HB_Flag', 'TrueBidVolume', 'LoanPurposeTypeName',
       'RefinanceCashoutDeterminationTypeName'],
      dtype='object')

In [13]:
df_scrub_drpd.index

RangeIndex(start=0, stop=306958, step=1)

In [14]:
#create df of numbers and booleans
#lost index during this step
df_scrub_drpd_nums = df_scrub_drpd.select_dtypes(exclude='object') #.reset_index()
df_scrub_drpd_nums.shape

(306958, 12)

In [15]:
#probably should delete ClientId (not a real number)
df_scrub_drpd_nums.head()

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,FICO,TrueBidVolume
0,197400.0,47.452,47.452,783.0,1,3.625,0.0,3.875,3.875,197400.0,783.0,197400.0
1,279000.0,50.270,50.270,786.0,1,3.500,0.0,4.500,4.500,279000.0,786.0,279000.0
2,176000.0,50.000,50.000,798.0,1,4.000,0.0,4.875,4.875,176000.0,798.0,176000.0
3,432040.0,80.000,80.000,709.0,1,4.000,0.0,4.875,4.875,432040.0,709.0,432040.0
4,489000.0,49.444,49.444,777.0,1,3.000,0.0,4.125,4.125,489000.0,777.0,489000.0

In [16]:
#df_scrub_drpd_nums.iloc[:,0].name
#df_scrub_drpd_nums.index[1]

In [17]:
#create df of categorical objects
df_scrub_drpd_cat = df_scrub_drpd.select_dtypes(include='object')
df_scrub_drpd_cat.shape

(306958, 9)

In [18]:
#create one hot encoding for categorical features
df_scrub_onehot = pd.get_dummies(df_scrub_drpd[['PropertyTypeRM','LoanPurpose','LoanPurposeTypeName','RefinanceCashoutDeterminationTypeName','State']], prefix="", prefix_sep="")
df_scrub_onehot.head()

,2 Unit,3 Unit,4 Unit,Condo,PUD,SFR,Investment,PrimaryResidence,SecondHome,Purchase,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#scale the non one hot fields (nums)
import numpy as np
from sklearn.preprocessing import StandardScaler

X1 = df_scrub_drpd_nums.values #[:,1:]  skipped BidDate since values cannot be timestamp
X1 = np.nan_to_num(X1)
cluster_dataset = StandardScaler().fit_transform(X1)
cluster_dataset[:2]

array([[-0.63381846, -1.80163198, -1.81993455,  0.74330726, -0.11603308,
         0.7207147 , -0.29722584, -0.11015787, -0.11175299, -0.63381846,
         0.74330726, -0.63381846],
       [-0.01126178, -1.62449303, -1.64253971,  0.8134508 , -0.11603308,
         0.50866274, -0.29722584,  1.21899368,  1.21702532, -0.01126178,
         0.8134508 , -0.01126178]])

In [20]:
#df_scrub_drpd_nums.columns

In [21]:
#re-create the df (without bid date) to include the scaled/transformed data
df_scrub_drpd_nums_scaled = pd.DataFrame(
    cluster_dataset,
     index=list(df_scrub_drpd_nums.index),
     columns=df_scrub_drpd_nums.columns)
df_scrub_drpd_nums_scaled.head() #WORKED...NOW NEED TO ADD ONE HOT AFTER TRANSFORMED

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,FICO,TrueBidVolume
0,-0.633818,-1.801632,-1.819935,0.743307,-0.116033,0.720715,-0.297226,-0.110158,-0.111753,-0.633818,0.743307,-0.633818
1,-0.011262,-1.624493,-1.642540,0.813451,-0.116033,0.508663,-0.297226,1.218994,1.217025,-0.011262,0.813451,-0.011262
2,-0.797087,-1.641465,-1.659536,1.094025,-0.116033,1.356871,-0.297226,2.016485,2.014292,-0.797087,1.094025,-0.797087
3,1.156337,0.244329,0.228982,-0.986900,-0.116033,1.356871,-0.297226,2.016485,2.014292,1.156337,-0.986900,1.156337
4,1.590906,-1.676415,-1.694537,0.603020,-0.116033,-0.339545,-0.297226,0.421503,0.419758,1.590906,0.603020,1.590906

In [22]:
#scale the one hot fields
X_onehot = df_scrub_onehot.values
X_onehot = np.nan_to_num(X_onehot)
cluster_dataset_onehot = StandardScaler().fit_transform(X_onehot)
cluster_dataset_onehot[:2]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-0.10954728, -0.05082871, -0.04694512, -0.30283492,  1.58380943,
        -1.26211052, -0.26607082,  0.34545766, -0.20545981, -1.03990179,
         1.03990179, -0.46104079,  0.46104079, -0.01712559, -0.1048523 ,
        -0.0813695 , -0.22803644, -0.3761794 , -0.2177535 , -0.07263584,
        -0.05980596, -0.07521974, -0.2635773 , -0.19508544, -0.04201866,
        -0.09023179, -0.09059802, -0.18209855, -0.14859094, -0.07268115,
        -0.10304309, -0.09528731, -0.15709589, -0.16684042, -0.05822168,
        -0.15956064, -0.1578563 , -0.13620621, -0.05751324, -0.05977852,
        -0.18389544, -0.0260399 , -0.05383326, -0.06710352, -0.16897364,
        -0.06566782,  7.77673895, -0.12080135, -0.14300951, -0.06700548,
        -0.13765071, -0.16132316, -0.06102807, -0.13223177, -0.04166707,
        -0.15995739, -0.31692364, -0.1838481 , -0.19870968, -0.02566133,
        -0.16816626, -0.10169457, -0.03911821, -0.03069828],
       [-0.10954728, -0.05082871, -0.04694512, -0.30283492,  1.58380943,
        -1.26211052, -0.26607082,  0.34545766, -0.20545981, -1.03990179,
         1.03990179, -0.46104079,  0.46104079, -0.01712559, -0.1048523 ,
        -0.0813695 , -0.22803644, -0.3761794 , -0.2177535 , -0.07263584,
        -0.05980596, -0.07521974, -0.2635773 , -0.19508544, -0.04201866,
        -0.09023179, -0.09059802, -0.18209855, -0.14859094, -0.07268115,
        -0.10304309, -0.09528731, -0.15709589, -0.16684042, -0.05822168,
        -0.15956064, -0.1578563 , -0.13620621, -0.05751324, -0.05977852,
        -0.18389544, -0.0260399 , -0.05383326, -0.06710352, -0.16897364,
        -0.06566782,  7.77673895, -0.12080135, -0.14300951, -0.06700548,
        -0.13765071, -0.16132316, -0.06102807, -0.13223177, -0.04166707,
        -0.15995739, -0.31692364, -0.1838481 , -0.19870968, -0.02566133,
        -0.16816626, -0.10169457, -0.03911821, -0.03069828]])

In [23]:
#add columns back to scaled one hot fields
#re-create the df (without bid date) to include the scaled/transformed data
df_scrub_drpd_onehot_scaled = pd.DataFrame(
    cluster_dataset_onehot,
     index=list(df_scrub_onehot.index),
     columns=df_scrub_onehot.columns)
df_scrub_drpd_onehot_scaled.head() #WORKED...NOW NEED TO ADD ONE HOT AFTER TRANSFORMED

,2 Unit,3 Unit,4 Unit,Condo,PUD,SFR,Investment,PrimaryResidence,SecondHome,Purchase,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,-0.109547,-0.050829,-0.046945,-0.302835,1.583809,-1.262111,-0.266071,0.345458,-0.20546,-1.039902,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
1,-0.109547,-0.050829,-0.046945,-0.302835,1.583809,-1.262111,-0.266071,0.345458,-0.20546,-1.039902,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
2,-0.109547,-0.050829,-0.046945,-0.302835,1.583809,-1.262111,3.758398,-2.894711,-0.20546,0.961629,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
3,-0.109547,-0.050829,-0.046945,-0.302835,1.583809,-1.262111,-0.266071,0.345458,-0.20546,0.961629,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
4,-0.109547,-0.050829,-0.046945,-0.302835,-0.631389,0.792324,-0.266071,0.345458,-0.20546,0.961629,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698

In [24]:
#merge num and cat df's
df_scrub_drpd_scaled = pd.concat([df_scrub_drpd_nums_scaled, df_scrub_drpd_onehot_scaled], axis=1)
df_scrub_drpd_scaled.head()

,noteamount,LtvRatioPercent,CltvRatioPercent,LoanLevelCreditScoreValue,FinancedUnitCount,PricingCoupon,PricingPocPayup,NoteRate,NoteRate_RND,BidVolumeAll,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,-0.633818,-1.801632,-1.819935,0.743307,-0.116033,0.720715,-0.297226,-0.110158,-0.111753,-0.633818,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
1,-0.011262,-1.624493,-1.642540,0.813451,-0.116033,0.508663,-0.297226,1.218994,1.217025,-0.011262,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
2,-0.797087,-1.641465,-1.659536,1.094025,-0.116033,1.356871,-0.297226,2.016485,2.014292,-0.797087,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
3,1.156337,0.244329,0.228982,-0.986900,-0.116033,1.356871,-0.297226,2.016485,2.014292,1.156337,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698
4,1.590906,-1.676415,-1.694537,0.603020,-0.116033,-0.339545,-0.297226,0.421503,0.419758,1.590906,...,-0.041667,-0.159957,-0.316924,-0.183848,-0.19871,-0.025661,-0.168166,-0.101695,-0.039118,-0.030698

In [25]:
df_scrub_drpd_scaled.shape

(306958, 76)

#### Let's define our X and y for training and testing

In [26]:
#CHECK COLUMNS IN X1 AND X_ONEHOT. REMOVE BIDWON COLUMN IF NEEDED
#create correlation matrix
#have to define y for logistic regression
#SET BOOLEAN DF FROM df_scrub_drpd (NewCRTFLag, HB_Flag). Y is Won_Bid

In [40]:
df_scrub_drpd.filter(items=['NewCRTFLag','HB_Flag','Won_Bid']).head()

  NewCRTFLag HB_Flag Won_Bid
0         No       N   FALSE
1         No       N    TRUE
2         No       N   FALSE
3        Yes       N   FALSE
4         No       Y   FALSE

In [62]:
#create bool df using columns that should be boolean
df_scrub_drpd_bool = df_scrub_drpd.filter(items=['NewCRTFLag','HB_Flag','Won_Bid'])
df_scrub_drpd_bool.head()

  NewCRTFLag HB_Flag Won_Bid
0         No       N   FALSE
1         No       N    TRUE
2         No       N   FALSE
3        Yes       N   FALSE
4         No       Y   FALSE

In [63]:
#set Y/N and Yes/No values to boolean
df_scrub_drpd_bool['NewCRTFLag'] = np.where(df_scrub_drpd_bool['NewCRTFLag'] == 'Yes', 1, 0)

In [64]:
df_scrub_drpd_bool['HB_Flag'] = np.where(df_scrub_drpd_bool['HB_Flag'] == 'Y', 1, 0)

In [65]:
df_scrub_drpd_bool['Won_Bid'] = np.where(df_scrub_drpd_bool['Won_Bid'] == 'TRUE', 1, 0)

In [66]:
df_scrub_drpd_bool.head()

   NewCRTFLag  HB_Flag  Won_Bid
0           0        0        0
1           0        0        1
2           0        0        0
3           1        0        0
4           0        1        0

In [67]:
df_scrub_drpd_bool.shape

(306958, 3)

In [52]:
#df_scrub_drpd_bool[['NewCRTFLag', 'HB_Flag', 'Won_Bid']].astype('bool').head()

In [53]:
#df_scrub_drpd_bool.head()

In [ ]:
#WORK IN PROGRESS
#X = np.asarray(churn_df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip']])
#X[0:5]

In [ ]:
#perform logistic regression on train and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)